<div class="col-xl-4 col-md-4 text-center text-md-left mb-15">
    <div class="contact-person">
        <h4>{% translate contact.phone %}</h4>
        <p>{% translate contact.text_2 %}</p>
        <b><a href="tel:05324566614"><span><i class="fas fa-phone"></i>{{ site.phone_number }}</span></a></b>
        {% if site.lang == "tr" %}
        <b><a href="https://api.whatsapp.com/send?phone=905324566614&text=Merhaba WoaBeauty aracılığı ile size ulaşıyorum."><span class="pl-30"><i class="fab fa-whatsapp"></i>{{ site.whatsapp }}</span></a></b>
        {% endif %}
        {% if site.lang == "en" %}
        <b><a href="https://api.whatsapp.com/send?phone=905324566614&text=Hello i am contacting you via WoaBeauty's website."><span class="pl-30"><i class="fab fa-whatsapp"></i>{{ site.whatsapp }}</span></a></b>
        {% endif %}
    </div>
</div>
<div class="col-xl-4 col-md-4 text-center text-md-left mb-30">
    <div class="contact-person">
        <h4>{% translate contact.adress %}</h4>
        <p>{% translate contact.text_1 %}</p>
        <b><a href="https://maps.app.goo.gl/ogZ4Q4fcQP3HK2BS8"><span><i class="fas fa-map-marker-alt"></i>{% translate global.adress %}</span></a></b>
    </div>
</div>
<div class="col-xl-4 col-md-4 text-center text-md-left mb-30">
    <div class="contact-person">
        <h4>{% translate contact.mail %}</h4>
        <p>{% translate contact.text_3 %}</p>
        <b><a href="mailto:support@euro-permit.com"><span><i class="far fa-envelope-open"></i>{{ site.email }}</span></a></b>
    </div>
</div>