<section class="counter-area pt-100" data-overlay="7" style="background-image:url({{site.baseurl}}/assets/img/counterBg/bg1.jpg);">
    <div class="row">
        <div class="col-xl-12 text-center pb-40">
            <div class="section-title service-title">
                <h2>{% translate titles.countries %}</h2>
            </div>
        </div>
    </div>
    <section class="about-area pb-60 pt-100">
        <div class="container">

            <div class="row about-bounding">        
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>{% translate countries.syria %}</h2>
                    </div>
                    <div class="about-content">
                        <h4>{% translate countries.text_1 %}</h4>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-20">
                            <div class="about-img">
                                <img src="{{site.baseurl}}/assets/img/countries/syria.jpg" class="img-fluid" alt="" style="width: 70%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-20">
                            <div class="about-img">
                                <img src="{{site.baseurl}}/assets/img/countries/russia.jpg" class="img-fluid" alt="" style="width: 70%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>{% translate countries.russia %}</h2>
                    </div>
                    <div class="about-content">
                        <h4>{% translate countries.text_2 %}</h4>
                    </div>
                </div>
            </div>

            <div class="row">        
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>{% translate countries.turkmenistan %}</h2>
                    </div>
                    <div class="about-content">
                        <h4>{% translate countries.text_3 %}</h4>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-20">
                            <div class="about-img">
                                <img src="{{site.baseurl}}/assets/img/countries/turkmenistan.jpg" class="img-fluid" alt="" style="width: 70%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-20">
                            <div class="about-img">
                                <img src="{{site.baseurl}}/assets/img/countries/uzbekistan.jpg" class="img-fluid" alt="" style="width: 70%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>{% translate countries.uzbekistan %}</h2>
                    </div>
                    <div class="about-content">
                        <h4>{% translate countries.text_4 %}</h4>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>{% translate countries.iran %}</h2>
                    </div>
                    <div class="about-content">
                        <h4>{% translate countries.text_5 %}</h4>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-20">
                            <div class="about-img">
                                <img src="{{site.baseurl}}/assets/img/countries/iran.jpg" class="img-fluid" alt="" style="width: 70%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-20">
                            <div class="about-img">
                                <img src="{{site.baseurl}}/assets/img/countries/afghanistan.jpg" class="img-fluid" alt="" style="width: 70%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>{% translate countries.afghanistan %}</h2>
                    </div>
                    <div class="about-content">
                        <h4>{% translate countries.text_6 %}</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>{% translate countries.azerbaijan %}</h2>
                    </div>
                    <div class="about-content">
                        <h4>{% translate countries.text_7 %}</h4>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-20">
                            <div class="about-img">
                                <img src="{{site.baseurl}}/assets/img/countries/azerbaijan.jpg" class="img-fluid" alt="" style="width: 70%;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>