<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-80 pb-20">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>{% translate footer.header_1 %}</h4>
                            <a href="https://goo.gl/maps/CwkyW2HxnkuU5Ziy6"><span>{% translate global.adress %}</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>{% translate footer.header_2 %}</h4>
                            <a href="tel:05324566614"><span>{{ site.phone_number }}</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>{% translate footer.header_3 %}</h4>
                            <a href="mailto:support@euro-permit.com"><span>{{ site.email }}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-50 pb-30">
            <div class="footer-pattern">
                <img src="{{site.baseurl}}/assets/img/footer/footer_map.png" alt="">
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="{{site.url}}"><img src="{{site.baseurl}}/assets/img/logo/footer_logo.png" class="img-fluid" alt="{{site.title}}"></a>
                        </div>
                        <div class="footer-text">
                            <p>{% translate about.text_1 %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>{% translate footer.header_5 %}</h3>
                        </div>
                        <ul>
                            {% if site.lang == "tr" %}
                            <li><a href="/index">{% translate titles.home %}</a></li>
                            <li><a href="/sayfalar/hakkimizda">{% translate titles.about %}</a></li>
                            <li><a href="/sayfalar/hizmetler">{% translate titles.services %}</a></li>
                            <li><a href="/sayfalar/sosyal-medya">{% translate titles.social-media %}</a></li>
                            <li><a href="/sayfalar/iletisim">{% translate titles.contact %}</a></li>
                            <li><a href="/sayfalar/blog">{% translate titles.blog %}</a></li>
                            {% endif %}
                            {% if site.lang == "en" %}
                            <li><a href="/en/index">{% translate titles.home %}</a></li>
                            <li><a href="/en/pages/about">{% translate titles.about %}</a></li>
                            <li><a href="/en/pages/services">{% translate titles.services %}</a></li>
                            <li><a href="/en/pages/social-media">{% translate titles.social-media %}</a></li>
                            <li><a href="/en/pages/contact">{% translate titles.contact %}</a></li>
                            <li><a href="/en/sayfalar/blog">{% translate titles.blog %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>{% translate footer.header_4 %}</h3>
                        </div>    
                        <div class="footer-social-icon">
                            <a href="{{site.facebook_url}}"><img src="/assets/img/icons/socials/facebook-ico.png" width="50" height="50"></i></a>
                            <!--<a href="{{site.twitter_url}}"><img src="/assets/img/icons/socials/x-ico.png" width="50" height="50"></i></a>-->
                            <a href="{{site.instagram_url}}"><img src="/assets/img/icons/socials/instagram-ico.png" width="50" height="50"></i></a>
                            <a href="{{site.tiktok_url}}"><img src="/assets/img/icons/socials/tiktok-ico.png" width="50" height="50"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>{% translate footer.copyright_text %}</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            {% if site.lang == "tr" %}
                            <li><a href="/index">{% translate titles.home %}</a></li>
                            <li><a href="#">{% translate titles.terms %}</a></li>
                            <li><a href="#">{% translate titles.privacy %}</a></li>
                            <li><a href="#">{% translate titles.policy %}</a></li>
                            <li><a href="/sayfalar/iletisim">{% translate titles.contact %}</a></li>
                            {% endif %}
                            {% if site.lang == "en" %}
                            <li><a href="/index">{% translate titles.home %}</a></li>
                            <li><a href="#">{% translate titles.terms %}</a></li>
                            <li><a href="#">{% translate titles.privacy %}</a></li>
                            <li><a href="#">{% translate titles.policy %}</a></li>
                            <li><a href="/en/pages/contact">{% translate titles.contact %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>