<!-- services-area -->
<section class="service-area pt-30">
    <div class="container">
        <div class="row portfolio-active">
            {% if site.lang == "tr" %}
                {% assign a = "" %}
            {% else %}
                {% assign a = "/" + site.lang %}
            {% endif %}
            {% assign sorted_services = site.services | sort: "number" %}
            {% for service in sorted_services %}
            <a href="{{site.baseurl}}{{a}}/{{service.permalink}}">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-50 grid-item">
                <div class="services-box">
                    <div class="services-img" style="width: 100%; aspect-ratio: 1.25; overflow: hidden;">
                        <img src="{{site.baseurl}}/assets/img/service/{{service.number}}.jpg" style="width: 100%; height: 100%; object-fit: cover; box-shadow: inset 0px -6px 28px 8px #000000;" class="img-fluid" alt="">
                    </div>
                    <div class="services-content">
                        <div class="card-title">
                            {% assign title_key = "title_" | append: site.lang %}
                            <h5>{{ service[title_key] }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
</section>