<div class="widget">
    <h4 class="widget-title">{% translate sidebar.text_1 %}</h4>
    <div class="sidebar-rc-post">
        <ul>
           {% for post in site.posts limit:"5" %}
            <li>
                {% if site.lang == 'tr' %}
                <div class="rc-post-thumb">
                    <a href="{{post.url}}">
                        <img src="{{post.post_image}}" alt="{{post.title}}"/>
                    </a>
                </div>
                <div class="rc-post-content">
                    <h4>
                        <a href="{{post.url}}">{{post.title}}</a>
                    </h4>
                    <div class="widget-date">{{post.date | date_to_long_string}}</div>
                </div>
                {% else %}
                <div class="rc-post-thumb">
                    <a href="/{{site.lang}}{{post.url}}">
                        <img src="{{post.post_image}}" alt="{{post.title}}"/>
                    </a>
                </div>
                <div class="rc-post-content">
                    <h4>
                        <a href="/{{site.lang}}{{post.url}}">{{post.title}}</a>
                    </h4>
                    <div class="widget-date">{{post.date | date_to_long_string}}</div>
                </div>
                {% endif %}
            </li>
           {% endfor %}
        </ul>
    </div>
</div>
<div class="widget">
    <h4 class="widget-title">{% translate sidebar.categories %}</h4>
    <div class="widget-link">
        <ul class="sidebar-link">
        {% if site.lang == "tr" %}
            {% for category in site.categories %}
            {% assign category_name = category[0] %}
            <li>
              <a class="text-capitalize" href="/category/{{ category_name | slugify }}/">{{ category_name | replace: "-", " " }}</a>
            </li>
            {% endfor %}
        {% else %}
            {% for category in site.categories %}
            {% assign category_name = category[0] %}
            <li>
              <a class="text-capitalize" href="/{{site.lang}}/category/{{ category_name | slugify }}/">{{ category_name | replace: "-", " " }}</a>
            </li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
</div>

