<section class="testimonial-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/01.jpg" class="img-fluid" alt="">
                        <h4>Evana Chy</h4>
                        <span>Chairman</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/02.jpg" class="img-fluid" alt="">
                        <h4>Ollie Schneider</h4>
                        <span>C.E.O</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/03.jpg" class="img-fluid" alt="">
                        <h4>Jackson Nash</h4>
                        <span>Chairman</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

            <!-- <div class="row white-bg mt-30 p-20 testimonial-items">
                <div class="col-xl-6 col-lg-6 mb-40 ">
                    <div class="section-title">
                        <h2>{% translate countries.syria %}</h2>
                    </div>
                    <div class="about-content">
                        <h4>{% translate countries.subtitle_1 %}</h4>
                        <p>{% translate countries.text_1 %}</p>
                        <h4>{% translate countries.subtitle_2 %}</h4>
                        <p>{% translate countries.text_2 %}</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-20">
                            <div class="about-img p-20 blue-bg">
                                <img src="{{site.baseurl}}/assets/img/countries/syria.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row white-bg mt-30 p-20">
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-20">
                            <div class="about-img blue-bg p-20">
                                <img src="{{site.baseurl}}/assets/img/countries/russia.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>{% translate countries.russia %}</h2>
                    </div>
                    <div class="about-content">
                        <h4>{% translate countries.subtitle_1 %}</h4>
                        <p>{% translate countries.text_1 %}</p>
                        <h4>{% translate countries.subtitle_2 %}</h4>
                        <p>{% translate countries.text_2 %}</p>
                    </div>
                </div>
            </div>
            <div class="row white-bg mt-30">
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>{% translate titles.about %}</h2>
                    </div>
                    <div class="about-content">
                        <h4>{% translate countries.subtitle_1 %}</h4>
                        <p>{% translate countries.text_1 %}</p>
                        <h4>{% translate countries.subtitle_2 %}</h4>
                        <p>{% translate countries.text_2 %}</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-20">
                            <div class="about-img">
                                <img src="{{site.baseurl}}/assets/img/countries/country3.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row white-bg">
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-12 col-md-6 mb-20">
                            <div class="about-img">
                                <img src="{{site.baseurl}}/assets/img/countries/country4.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>{% translate titles.about %}</h2>
                    </div>
                    <div class="about-content">
                        <h4>{% translate countries.subtitle_1 %}</h4>
                        <p>{% translate countries.text_1 %}</p>
                        <h4>{% translate countries.subtitle_2 %}</h4>
                        <p>{% translate countries.text_2 %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->