---
layout: page
title_tr: Hakkımızda
title_en: About

permalink:     /sayfalar/hakkimizda/
permalink_en:  /pages/about/
permalink_az:  /sehifeler/hakkimizda
---
<!-- about-info -->
<section class="about-info pt-100">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="about-info-text">
                    <div class="info-img">
                        <!--{% include team_members.html %}-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area -->
{% include about.html %}