---
layout: page
title_tr: İletişim
title_en: Contact

permalink:     /sayfalar/iletisim/
permalink_en:  /pages/contact/
permalink_az:  /sehifeler/iletisim/
---
<!-- contact-maps -->
<section class="contact-area pb-40 pt-40 default-dark-bg">
</section>
<div class="maps-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d375.91618465070934!2d29.0039819!3d41.0836473!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7824c51fe41%3A0x20fba3fec756f645!2sKamer%20Y%C3%BCzer%20G%C3%BCzellik%20Evi!5e0!3m2!1str!2str!4v1764423943243!5m2!1str!2str" 
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact-area -->
<section class="contact-area pb-70 pt-100 default-dark-bg">
    <div class="container">            
            <div class="row">
                {% include contact.html %}
            </div>
        </div>
    </div>
</section>
{% include social-media.html %}
<!-- contact-form
<section class="contact-form pb-100 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="contact-form-title">
                    <h2>Let’s talk</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi tempora veritatis nemo aut ea iusto eos est expedita,quas ab adipisci.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form id="contact-form" action="mail.php" class="contact-form" method="POST">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 mb-20">
                            <input name="name" type="text" placeholder="Name">
                        </div>
                        <div class="col-xl-6 col-lg-6 mb-20">
                            <input name="email" type="email" placeholder="Email">
                        </div>
                        <div class="col-xl-12 mb-20">
                            <input name="subject" type="text" placeholder="Subject">
                        </div>
                        <div class="col-xl-12 mb-20">
                            <textarea name="message" id="text-message" cols="30" rows="10" placeholder="Message*"></textarea>
                        </div>
                        <div class="col-xl-12 text-center">
                            <button class="btn" type="submit">Send Mail</button>
                        </div>
                    </div>
                </form>
                <p class="ajax-response"></p>
            </div>
        </div>
    </div>
</section>
 -->